body, #app {
   margin: 0px;
   padding: 0px;
}
.sidebar {
   float: left;
   margin: 6px;
   padding: 6px;
   background: #EEE;
}
#user {
   float: right;
   background: #444;
   color: white;
   padding: 3px;
}
.error {
   background: #C88;
}
.rating.ui-icon-star.disabled {
   background-image: url(images/ui-icons_454545_256x240.png); 
}
.rating.ui-icon-star,
.rating.ui-icon-star.disabled:hover {
   vertical-align: bottom;
   display: inline-block;
   background-image: url(images/ui-icons_cd0a0a_256x240.png); 
}
.remove.ui-icon {
   background-image: url(images/ui-icons_454545_256x240.png); 
   vertical-align: text-top;
   display: inline-block;
}
.remove.ui-icon:hover {
   background-image: url(images/ui-icons_cd0a0a_256x240.png); 
}

input.name {
   font-size: 1.5em;
}
div.tag {
   display: inline-block;
}
.dish-name {
	font-size: 2em;
	font-weight: bold;
}
.field-head {
	font-weight: bold;
}
