body, #app {
   margin: 0px;
   padding: 0px;
   font-size: 10pt;
   font-family: 'MS Trebuchet',Verdana,Arial,sans-serif;
}
div#main {
   margin-left: 16em;
   margin-right: 16em;
   overflow: auto;
}
.sidebar {
   left:0px;
   top:0px;
   position:fixed;
   overflow: auto;
   /*float:left;*/
   height: 100%;
   width: 15em;
   padding: 4px;
}
.sidebar .ui-buttonset {
	white-space:nowrap;
}
.sidebar .ui-tabs-panel {
   padding: 0px;
}
#menubar {
   position:fixed;
   right:0px;
   top:0px;
   overflow: auto;
   /*float:left;*/
   height: 100%;
   width: 15em;
   padding: 0px;
   margin-top: 0px;
   margin-right: 0px;
}
#user {
   padding: 3px;
}
div.signout {
   background:white;
   padding: 0.3em;
   border: solid thin black;
   margin: 0px -3px -3px -3px;
}
.error {
   background: #C88;
}
.ui-icon-vegetarian {
   display: inline-block;
   background-image: url(images/vegetarian_32.png); 
   width: 32px;
   height: 32px;
   vertical-align: top;
}
.ui-icon-vegan {
   display: inline-block;
   background-image: url(images/vegan_32.png); 
   width: 32px;
   height: 32px;
   vertical-align: top;
}
.rating.ui-icon-star.disabled {
   background-image: url(images/ui-icons_454545_256x240.png); 
}
.rating.ui-icon-star,
.rating.ui-icon-star.disabled:hover {
   vertical-align: bottom;
   display: inline-block;
   background-image: url(images/ui-icons_cd0a0a_256x240.png); 
}
.remove.ui-icon {
   background-image: url(images/ui-icons_454545_256x240.png); 
   vertical-align: text-top;
   display: inline-block;
}
.remove.ui-icon:hover {
   background-image: url(images/ui-icons_cd0a0a_256x240.png); 
}
.ui-icon.inline {
   display: inline-block;
   vertical-align: top;
}

.ui-icon.large {
   zoom: 200%;
}
#main .ui-button {
   vertical-align: top;
}

input.name {
   font-size: 1.5em;
}
div.tag {
   display: inline-block;
}
.name {
	font-size: 2em;
	font-weight: bold;
}
.field-head {
	font-weight: bold;
}
ul, ol {
	overflow: hidden;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
a {
	text-decoration: none;
	color: #248;
}
a:hover {
	text-decoration: underline;
}
a.external {
	text-decoration: underline;
	font-weight: normal;
}
span.tag-list {
	/*display: inline-block;*/
	margin-left: 0.3em;
}
#side-tabs {
   margin-top: 0.3em;
}
#side-tabs .ui-tabs-nav a {
   padding: 3px 6px;
}
ul#tags{
   padding-left: 18px;
}

.dish-drop {
   margin: 0.3em 0px;
   padding: 0.5em;
   display: inline-block;
}
th {
   text-align: left;
}
table.ingredients {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   border-collapse:collapse;
}
table.ingredients td, table.ingredients th{
   padding-right: 1.0em;
}
.ui-icon-menu { background-position: -64px -96px; }
.ui-icon-ingredient { background-position: -64px -176px; }
.ui-icon-dish { background-position: -192px -128px; }
ul.dish-list, ul.ingredient-list, ul.pairing-list, ul.menu-list{
   list-style-type: none;
   padding-left: 6px;
}

.menu-active, .ui-widget-content .menu-active, .ui-widget-header .menu-active { border: 1px solid #d4ccb0; background: #fafaf4 url(images/ui-bg_highlight-hard_100_fafaf4_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #459e00; }
.menu-active a, .menu-active a:link, .menu-active a:visited { color: #459e00; text-decoration: none; }
.menu-active .ui-icon {background-image: url(images/ui-icons_8dc262_256x240.png); }

div.serving {
   padding-right: 5px;
   font-size: 16px;
}
div.serving .ui-icon {
   vertical-align: top;
}
div.serving-value {
   display: inline-block;
   width: 2em;
}

table.li {
   border-collapse: collapse;
}
table.li td {
   vertical-align: top;
}
.ui-button-icon-only {
   width: 1.5em;
   height: 1.75em;
}
.menubar {
   min-height: 50%;
   background:white;
}
.menu-combo {
   font-size: 125%;
   font-weight: bold;
}
span.sample {
   display: inline-block;
   vertical-align: top;
   width: 1em;
   height: 1em;
   border: solid thin black;
   margin: 1px 1px;
}
div.hover-view {
   position: absolute;
   padding: 5px;
   border-radius: 3px;
}
.ui-button-text-only .ui-button-text { padding: .3em .75em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .3em; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .3em .75em .3em 1.7em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .3em 1.7em .3em .75em; }
.ui-button-text-icons .ui-button-text { padding-left: 1.7em; padding-right: 1.7em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .3em .75em; }

div#search-tab .ui-button{
   vertical-align: top;
}
.ui-icon-star + .ui-icon-star {
   margin-left: -6px;
}
span.summary .ui-icon-star {
   margin-right: -3px;
   vertical-align: -4px;
}
span.summary {
   display: inline-block;
   font-size: 0.8em;
   font-weight: bold;
   vertical-align: 1px;
}
.menu .section .field-head {
	padding-bottom: 0.2em;
}
.menu .section {
	border-top: solid thin #CCC;
	padding: 0.5em 0.75em;
}
.menu .section:first-child {
	border-top: none;
	margin-top: 0em;
}
.current-lib {
   font-style: italic;
}
.menu {
	padding: 0.25em 0px;
	background: #FFF;
	position: absolute;
	border: solid thin #000;
	border-top: solid thin #CCC;
	z-index: 10;
}
.nowrap {
	white-space:nowrap;
}
ul.toc ul {
	margin: 0px;
}
